Repository BatchDrake/suscan, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, build_system

.github/labeler.yml:

ci:
  - .github/workflows/**/*
  - .github/actions/**/*

build_system:
  - 'CMake*'
  - '**/CMakeLists.txt'
  - '**/*.cmake'

Remove references to develop
  README.md
Labels: none

Remove old TODO
  TODO.md
Labels: none

CI: Rename pipeline
  .github/workflows/build.yml
Labels: ci

CI: Remove no longer needed job
  .github/workflows/cmake.yml
Labels: ci

CI: Avoid building SoapySDR
  .github/workflows/build.yml
  .github/workflows/cmake.yml
Labels: ci

Fix windows compilation
  analyzer/source/impl/file.c
Labels: none

CI: No need to allways update MSYS
  .github/workflows/build.yml
Labels: ci

Readme: Minor fixups
  README.md
Labels: none

CI: Fix mac compilation.
  .github/workflows/build.yml
Labels: ci

CI: Windows: Add json-c dep
  .github/workflows/build.yml
Labels: ci

CI: Windows: Use UCRT64 as it is the new MSYS default
  .github/workflows/build.yml
Labels: ci

Allow for different AGC timescales
  analyzer/inspector/impl/audio.c
  analyzer/inspector/params.c
  analyzer/inspector/params.h
Labels: none

Add uninstall target
  CMakeLists.txt
  cmake_uninstall.cmake.in
Labels: build_system

wide: always cover top of range in progressive sweep
  analyzer/workers/wide.c
Labels: none

wide: allow narrow or non-hopping startup
  analyzer/workers/wide.c
Labels: none

analyzer: move worker init back to constructor
  analyzer/impl/local.c
  analyzer/workers/channel.c
  analyzer/workers/wide.c
Labels: none

wide: fix invalid start freq for continuous progressive scan
  analyzer/workers/wide.c
Labels: none

wide: measure retune time for sample rejection
  analyzer/impl/local.h
  analyzer/workers/wide.c
Labels: none

soapysdr: allow setting stream arguments
  analyzer/source.h
  analyzer/source/impl/soapysdr.c
  analyzer/source/impl/soapysdr.h
Labels: none

source/soapysdr: fix changing bandwidth
  analyzer/source/impl/soapysdr.c
Labels: none

source/soapysdr: use specified channel
  analyzer/source/impl/soapysdr.c
Labels: none

Remove XML files from rsrc directory
  rsrc/autogains.xml
  rsrc/locations.xml
  rsrc/palettes.xml
Labels: none

Prevent malformed YAML files from infinite-looping on deserialization
  util/deserialize-yaml.c
Labels: none

Add ability to configure clock source in SoapySDR from device settings
  analyzer/source.h
  analyzer/source/impl/soapysdr.c
  analyzer/source/impl/soapysdr.h
Labels: none

WIP: Create a thin client version of the library
  CMakeLists.txt
  analyzer/analyzer.c
  analyzer/source/device.c
  analyzer/source/register.c
  analyzer/version.c
  analyzer/version.h
  sgdp4/tle.c
  suscan-thin-client.pc.in
Labels: build_system

Remove explicit references to estimator / spectrum objects in messages
  analyzer/insp-server.c
  analyzer/msg.c
  analyzer/msg.h
Labels: none

Shameful fix of missing mutexes
  analyzer/source.c
  analyzer/source.h
Labels: none

Update CMakeLists to run ldconfig on install
  CMakeLists.txt
Labels: build_system

WIP: Add missing files to project
  analyzer/impl/local-source.c
Labels: none

WIP: Fix uninitialized variable in makeprof
  cli/cmd/makeprof.c
Labels: none

WIP: Fix installation location of device headers
  CMakeLists.txt
Labels: build_system

WIP: Remove C++ keywords from C API
  analyzer/source.h
Labels: none

WIP: Expose API to C++ and add method to retrieve gains from device properties
  analyzer/device/discovery.h
  analyzer/device/facade.h
  analyzer/device/properties.c
  analyzer/device/properties.h
  analyzer/device/spec.h
  util/strmap.h
Labels: none

WIP: Remove C++ keywords from argument names
  analyzer/analyzer.h
Labels: none

WIP: Various bugfixes
  analyzer/device/properties.c
  analyzer/device/properties.h
  analyzer/device/spec.c
  analyzer/source/config.c
  analyzer/source/impl/soapysdr.c
Labels: none

WIP: Fix leaks and improper memory handling at SoapySDRKwargs
  analyzer/source/impl/soapysdr.c
  util/urlhelpers.c
Labels: none

Fix deserialization of device spec
  analyzer/device/spec.c
  analyzer/source/impl/soapysdr.c
Labels: none

WIP: Properly account for discovery epoch in device list retrieval
  analyzer/device/discovery.c
  analyzer/device/facade.c
  analyzer/device/properties.c
  analyzer/device/spec.c
Labels: none

Populate gains right
  analyzer/device/facade.c
  analyzer/source/impl/soapysdr.c
Labels: none

Fix memory leaks
  analyzer/device/impl/multicast.c
  analyzer/source/config.c
Labels: none
